---
import Search from "@/components/Search";
import Navbar from "@/components/Navbar";
import Layout from "@/layouts/Layout.astro";
import ListWebsites from "@/components/ListWebsites";
import ListTags from "@/components/ListTags";
import "@/styles/globals.css";
import { cn } from "@/lib/utils";
---

<Layout>
  <main class="flex min-h-screen flex-col">
    <Navbar client:load />
    <section
      class="container z-10 mx-auto -mb-32 flex max-w-6xl flex-col px-4 py-16 md:px-8"
    >
      <div class="flex flex-col items-end gap-8 md:flex-row md:gap-16">
        <div class="col-span-2 flex flex-1 flex-col">
          <h1 class="mb-6 text-4xl leading-tight">
            <!-- <strong>ktlogshi</strong><br /> -->
            <span class="font-light">Directorio Bitcoin & lightning en España</span>
          </h1>
          <Search client:load className="w-full" />
        </div>
      </div>
    </section>
    <section
      class="to-red h-32 bg-gradient-to-b from-white to-muted dark:from-black dark:to-muted"
    >
    </section>
    <section class={cn("flex-1 bg-muted")}>
      <ListTags client:load />
    </section>
    <section class={cn("flex-1 bg-muted pb-4 md:pb-12")}>
      <ListWebsites client:load />
    </section>
    <footer class="pb-32 pt-4 md:pb-8 md:pt-8">
      <div class="container mx-auto px-4 text-sm md:px-0">
      <div class="flex flex-col items-center justify-center gap-2">
        <p class="text-muted-foreground">
        Hecho con ❤️ para la comunidad Bitcoin en España por <a
          class="underline"
          href="https://saidrahal.com"
          target="_blank">Said Rahal</a
        >
        </p>
      </div>
      </div>
    </footer>
  </main></Layout
>
